*~
*.swp
.DS_Store
.umi
npm-debug.log
lerna-debug.log
npm-debug.log*
lib/
dist/
build/
es/
coverage/
node_modules/
examples/test
.idea/
yarn.lock
yarn-error.log
package-lock.json
packages/miniapp-api-creater/demo/build
docs-dist
stats.html
demos
