*~
*.swp
.DS_Store
npm-debug.log
lerna-debug.log
npm-debug.log*
lib/
dist/
build/
coverage/
node_modules/
examples/test
.idea/
yarn.lock
yarn-error.log
package-lock.json
miniapp-api-creater/demo/miniapp
